extends layout

block styles
  link(rel="stylesheet", type="text/css", href="inner.css")

block indie
  header.navbar.navbar-default.navbar-fixed-top(role="banner")
    div.container
      div.navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".bs-navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") Pushberry
      nav.collapse.navbar-collapse.bs-navbar-collapse(role="navigation")
        ul.nav.navbar-nav.pull-right
          li
            a(href="/logout") Sign out

block title
  title Your Dash

block content

  div.row(ng-controller="ProjectsCtrl")

    div.col-lg-8
      h1.text-center Hey, welcome back
        span.blue-emphasis .
      h4.text-center These are your GitHub Projects

      input.form-control.vertically-spaced(type="search", placeholder="Search Repos", ng-model="search.name")
      table.table.table-striped(ng-init="fetchProjects()")
        tbody
          tr
            th.col-md-11 Repository
            th.col-md-1 Status
          tr(ng-repeat="project in projects | filter:search", project='project')

    div.col-lg-4.repo-activity
        h3.text-center Stats
        ul.list-unstyled.text-center
          li {{projects.length}} GitHub Projects
          li {{syncedProjectsCount}} Synced Projects