!!!5
html
  head
    meta(charset="utf-8")
    block title
      title Metroly
    link(rel="stylesheet", type="text/css", href="/bootstrap-3.0.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/bootstrap-3.0.0/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet", type="text/css", href="/master.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block styles

  body
    block indie
    section.container
      div.ng-view
      block content
      footer
        small Metroly &copy; 2013.

    block scripts