!!!5
html
  head
    meta(charset="utf-8")
    block title
      title Metroly
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block styles

  body
    block indie
    section.container
      div.ng-view
      block content
      footer
        small Metroly &copy; 2013.

    block scripts