<div id="bus-id">
  <div id="bus-number">
    <h2>{{route.shortname}}<span></span></h2>
  </div>
  <div id="route-selector"></div>
</div>

<div id="bus-direction-wrapper">

  <div id="via-text">
    <p><i>via Red Hook</i></p>
  </div>
</div>

<div id="misc-info">
  <div class="tracking-status" id="tracking-status-live">
      <p>Live</p>
  </div>
  <div class="tracking-status" id="tracking-status-offline">
      <p>Offline</p>
  </div>
  <div class="fave-route" id="fave-route-not">
      <p>Favorite</p>
  </div>
  <div class="fave-route" id="fave-route-selected">
      <p>Favorite</p>
  </div>
</div>